name: user-statistician

on:
  schedule:
    - cron: '30 * * * *'
  workflow_dispatch:

jobs:
  stats:
    #runs-on: ubuntu-latest
    runs-on: self-hosted
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up git user
      run: |
        git config --global user.email "rmckenzi@rpmdp.com"
        git config --global user.name "Robert McKenzie"
    
    - name: Generate the user stats image
      uses: cicirello/user-statistician@v1
      with:
        custom-title: My GitHub Statistics
        colors: dark
        image-file: assets/userstats.svg
        include-title: true
        animated-language-chart: false
        language-animation-speed: 20
        show-border: false
        commit-and-push: false
      env:
        GITHUB_TOKEN: ${{ secrets.user_statistician }}

    - name: Commit and push changes
      run: |
        git remote set-url origin https://x-access-token:${{ secrets.MY_GH_PAT }}@github.com/${{ github.repository }}.git
        git add assets/userstats.svg
        git commit -m "Update user statistics SVG" || echo "No changes to commit"
        git push
