name: user-statistician

on:
  schedule:
    - cron: '0 */4 * * *'
  workflow_dispatch:

jobs:
  stats:
    #runs-on: ubuntu-latest
    runs-on: self-hosted
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up git user
      run: |
        git config --global user.email "rmckenzi@rpmdp.com"
        git config --global user.name "Robert McKenzie"
    
    - name: Generate the user stats image
      uses: cicirello/user-statistician@v1
      with:
        custom-title: My GitHub Statistics
        colors: dark
        image-file: assets/userstats.svg
        include-title: true
        animated-language-chart: false
        language-animation-speed: 20
        show-border: false
      env:
        GITHUB_TOKEN: ${{ secrets.user_statistician }}

#    - name: Move userstats.svg to assets folder
#      run: |
#        mkdir -p assets
#        mv userstats.svg assets/userstats.svg || true
