name: user-statistician

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  stats:
    runs-on: ubuntu-latest
      
    steps:
    - uses: actions/checkout@v4
    - name: Set current date and time
      id: set_datetime
      run: echo "now=$(date +'%Y-%m-%d_%H-%M-%S')" >> $GITHUB_OUTPUT
    - name: Generate the user stats image
      uses: cicirello/user-statistician@v1
      with:
        custom-title: My GitHub Statistics
        colors: dark
        include-title: true
        animated-language-chart: false
        language-animation-speed: 20
        show-border: false
        commit-and-push: true
        commit-message: 'Automated update by workflow - ${{ steps.set_datetime.outputs.now }}'
      env:
        GITHUB_TOKEN: ${{ secrets.user_statistician }}
